.page {
  main.page-section {
    ::-webkit-scrollbar {
      width: 5px;
    }
    scrollbar-width: 5px;
  }
  .page-section {
    min-height: 100%;
  }

  header.page-section {
    border-right: 1px solid var(--color-neutral-100);
    width: min(25%, 250px);
    padding: 0.5rem 1rem;
  }
}
